[submodule "www/third-party/chessboard-js"]
	path = www/third-party/chessboard-js
	url = https://github.com/caustique/chessboard-js.git
[submodule "www/third-party/dragend"]
	path = www/third-party/dragend
	url = https://github.com/Stereobit/dragend.git
