[submodule "www/third-party/chessboard-js"]
	path = www/third-party/chessboard-js
	url = https://github.com/caustique/chessboard-js.git
[submodule "www/third-party/ztd.blunders-misc"]
	path = www/third-party/ztd.blunders-misc
	url = git@bitbucket.org:ziltoidteam/ztd.blunders-misc.git
