<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>

        <!-- External css dependencies -->
        <link href="lib/ionic/css/ionic-custom.css" rel="stylesheet">
        <link href="third-party/toastr/build/toastr.min.css" rel="stylesheet">
        <link href="third-party/chessboard-js/css/chessboard.min.css" rel="stylesheet">

        <!-- Internal css -->
        <link href="css/main.css" rel="stylesheet">
        <link href="css/header.css" rel="stylesheet">
        <link href="css/login.css" rel="stylesheet">
        <link href="css/training.css" rel="stylesheet">
        <link href="css/info.css" rel="stylesheet">
        <link href="css/board.css" rel="stylesheet">
        <link href="css/hacks.css" rel="stylesheet">

        <!-- External js dependencies -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="cordova.js"></script>

        <!-- Third-party modules -->
        <script type="text/javascript" src="third-party/jquery/2.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="third-party/toastr/build/toastr.min.js"></script>
        <script src="third-party/chessboard-js/js/chessboard.min.js"></script>
        <script src="third-party/chess.js/chess.min.js"></script>
        <script src="third-party/lokijs/build/lokijs.min.js"></script>
        <script src="third-party/lokijs/build/loki-indexed-adapter.min.js"></script>
        <script src="third-party/loki-cordova-fs-adapter/bin/loki-cordova-fs-adapter.js"></script>

        <!-- Ztd.Team modules as external js -->
        <script src="third-party/ztd.blunders-misc/js/utils.js"></script>
        <script src="third-party/ztd.blunders-misc/js/sync.js"></script>

        <!-- Main application js -->
        <script src="js/pack.js"></script>
        <script src="js/app.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/main.js"></script>
        <script src="js/controllers/login.js"></script>
        <script src="js/controllers/training.js"></script>
        <script src="js/controllers/analyze.js"></script>
        <script src="js/controllers/pack.js"></script>

        <!-- Miscellaneous js -->
        <script src="js/api.js"></script>
        <script src="js/buffer.js"></script>
        <script src="js/notify.js"></script>
        <script src="js/settings.js"></script>
        <script src="js/board.js"></script>
        <script src="js/pack.js"></script>
        <script src="js/token.js"></script>
    </head>
    <body ng-app="Ztd.Blunders Mobile" ng-controller="MainCtrl">
        <div class="bar bar-header bar-positive blue-background">
            <div class="buttons">
                <span class="title-text">
                    <button id="menu-button" ng-click="toggleMenu()" class="button button-icon icon ion-navicon"></button>
                    <button ng-hide="!isTriggered('networkBusy')" id="loading-indicator" class="button button-icon icon ion-load-c ion-spin-animation"></button>
                </span>
            </div>
            <div class="title">
                <span class="title-text">
                    Chess Blunders
                </span>
            </div>

            <button class="button button-icon icon ion-university">{{getUserRating()}}</button>
        </div>

        <ion-side-menus>
            <ion-side-menu side="left" drag-content="false">
                <ion-content drag-content="false" class="has-header blue-background padding">
                    <button ng-show="true" ng-click="logout()" class="button button-assertive button-full icon-right ion-log-out">
                        Logout
                    </button>
                </ion-content>
            </ion-side-menu>

            <ion-side-menu-content>
                <ion-nav-view></ion-nav-view>
            </ion-side-menu-content>
        </ion-side-menus>

        <script id="login.html" type="text/ng-template">
            <ion-view class="blue-background">
                <ion-content class="has-header">
                    <ion-slide-box show-pager="false">
                        <ion-slide>
                            <div class="list list-inset blue-background">
                                <div class="padding">
                                    <label class="fixed-label item item-input">
                                        <input ng-model="loginUsername" type="text" placeholder="Your username">
                                    </label>
                                </div>
                                <div class="padding">
                                    <label class="fixed-label item item-input">
                                        <input ng-model="loginPassword" type="password" placeholder="Your password">
                                    </label>
                                </div>
                            </div>
                            <div class="padding">
                                <button id="login-button" ng-click="login(loginUsername, loginPassword)" ng-disabled="isTriggered('loginLock')" class="button button-balanced button-wide icon-right ion-log-in">
                                    Login
                                </button>
                            </div>

                            <div class="padding">
                                <div class="padding-bottom new-user-greeting">
                                    Do not have account yet?
                                </div>

                                <button ng-click="goToSignup()" class="button button-outline button-wide button-light icon-right ion-ios-arrow-right">
                                    Sign Up!
                                </button>
                            </div>

                        </ion-slide>
                        <ion-slide>
                            <div class="list list-inset blue-background">
                                <div class="padding">
                                    <label class="fixed-label item item-input">
                                        <input ng-model="signupUsername" type="text" placeholder="Pick a username">
                                    </label>
                                </div>
                                <div class="padding">
                                    <label class="fixed-label item item-input">
                                        <input ng-model="signupPassword" type="password" placeholder="Create a password">
                                    </label>
                                </div>
                                <div class="padding">
                                    <label class="fixed-label item item-input">
                                        <input ng-model="signupEmail" type="email" placeholder="Optional email">
                                    </label>
                                </div>
                            </div>
                            <div class="padding">
                                <button id="signup-button" ng-click="signup(signupUsername, signupPassword, signupEmail)" ng-disabled="isTriggered('loginLock')" class="button button-balanced button-wide icon-right ion-person-add">
                                    Sign Up!
                                </button>
                            </div>
                        </ion-slide>
                        <ion-slide>
                          <div class="list list-inset blue-background">
                              <div class="padding-bottom new-user-greeting">
                                  Enter the email for your account <br> and
                              </div>
                              <div class="padding">
                                  <label class="fixed-label item item-input">
                                      <input ng-model="signupEmail" type="email" placeholder="Optional email">
                                  </label>
                              </div>
                          </div>
                        </ion-slide>
                    </ion-slide-box>
                </ion-content>
            </ion-view>
        </script>

        <script id="training.html" type="text/ng-template">
            <ion-view class="white-background">
                <ion-content>
                    <ion-slide-box show-pager="false" class="has-header">
                        <ion-slide ng-controller="PackCtrl">
                          <ion-list type="card">
                            <ion-item class="item item-divider">Packs</ion-item>
                            <ion-item class="enable-pointer-events item-icon-left item-icon-right" ng-repeat="pack in packBlundersInfo track by $index" ng-click="selectPack(pack.pack_id)">
                              <button ng-hide="!canRemovePack(pack.pack_id)" ng-click="removePack(pack.pack_id);$event.stopPropagation()" class="button button-icon icon ion-backspace-outline"></button>
                              <h2>{{pack.description}}</h2>
                              <p>{{pack.blunders.length}} left</p>
                              <i ng-hide="!isSelectedPack(pack.pack_id)" class="icon ion-ios-checkmark" ></i>
                            </ion-item>
                            <ion-item class="item item-divider">Unlocked packs</ion-item>
                            <ion-item class="enable-pointer-events item-icon-left item-icon-right" ng-repeat="pack in unlockedInfo track by $index" ng-click="unlockPack({typeName:pack.type_name,args:pack.args})">
                              <i class="icon ion-ios-plus" ></i>
                              <h2>{{pack.description}}</h2>
                            </ion-item>
                        </ion-list>
                        </ion-slide>
                        <ion-slide>
                            <div class="card">
                                <div class="item item-divider">
                                    <div id="game-header" class="padding">
                                        {{player(info, 'white')}} - {{player(info, 'black')}}
                                    </div>
                                </div>
                                <div class="item item-text-wrap">
                                    <div id="board"></div>
                                </div>
                                <div class="game-status-container item item-divider">
                                    <button ng-click="status.onClick()" class="{{status.viewClass}} game-status button button-full">
                                        {{status.viewText}} <i ng-show="status.terminate === true" class="icon ion-ios-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card" ng-show='analyzeShownStatus' ng-controller='AnalyzeCtrl'>
                              <ion-item class="item-text-wrap" ng-click='analyzeClicked()' ng-show='!isAnalyzed'>
                                <p>Click to analyze position...</p>
                              </ion-item>
                              <ion-item ng-show='isAnalyzed'>
                                <div class="row">
                                  <div class="col-20">
                                    <p>1.26</p>
                                  </div>
                                  <div class="col-80">
                                    <p>1. e2-e4 2. d7-d5 1. e2-e4 2. d7-d5 1. e2-e4 2. d7-d5 1. e2-e4 2. d7-d5</p>
                                  </div>
                                </div>
                              </ion-item>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="card">
                                <div class="item item-divider">
                                    <div class="row">
                                      <div class="col">
                                        <button id="dislike-button" ng-class="{'dislike-active': info.myVote === -1}" ng-click="vote(-1)" ng-disabled="isTriggered('voteLock')" class="button button-icon icon ion-thumbsdown"></button>
                                      </div>
                                      <div class="col">
                                        <button id="favorite-button" ng-class="{'favorite-active': info.myFavorite === true}" ng-click="favorite()" ng-disabled="isTriggered('favoriteLock')" class="button button-icon icon {{info.myFavorite? 'ion-android-star': 'ion-android-star-outline'}}"></button>
                                      </div>
                                      <div class="col">
                                        <button id="like-button" ng-class="{'like-active': info.myVote === 1}" ng-click="vote(1)" ng-disabled="isTriggered('voteLock')" class="button button-icon icon ion-thumbsup"></button>
                                      </div>
                                    </div
                                </div>
                            </div>
                            <div class="card">
                                <div class="item item-divider">
                                    Blunder
                                </div>
                                <div class="item item-wrap">
                                    <div class="row">
                                      <div class="col">
                                        <div class="cell-header">Rating</div>
                                        <div class="cell-value">{{info.elo}}</div>
                                        <div class="cell-footer">Elo</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Rating</div>
                                        <div class="cell-value">{{info.likes - info.dislikes}}</div>
                                        <div class="cell-footer">votes</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Favorite for</div>
                                        <div class="cell-value">{{info.favorites}}</div>
                                        <div class="cell-footer">users</div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <div class="cell-header">Success</div>
                                        <div class="cell-value">{{info.successTries}}</div>
                                        <div class="cell-footer">played</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Total</div>
                                        <div class="cell-value">{{info.totalTries}}</div>
                                        <div class="cell-footer">played</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Success rate</div>
                                        <div class="cell-value">{{successRate(info)}}</div>
                                        <div class="cell-footer">percents</div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="item item-divider">
                                    Game
                                </div>
                                <div class="item item-wrap">
                                    <div class="row">
                                      <div class="col">
                                        <div class="cell-header">White</div>
                                        <div class="cell-value">{{player(info, 'white')}}</div>
                                        <div class="cell-footer">player</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Black</div>
                                        <div class="cell-value">{{player(info, 'black')}}</div>
                                        <div class="cell-footer">player</div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <div class="cell-header">White</div>
                                        <div class="cell-value">{{elo(info, 'white')}}</div>
                                        <div class="cell-footer">Elo</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Black</div>
                                        <div class="cell-value">{{elo(info, 'black')}}</div>
                                        <div class="cell-footer">Elo</div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </ion-content>
            </ion-view>
        </script>
    </body>
</html>
