<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <!-- cordova script (this will be a 404 during development) -->
        <!--script src="cordova.js"></script-->
        <!-- your app's js -->
        <script src="js/app.js"></script>

        <!-- @TODO DOWNLOAD ALL DEPS -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="third-party/chessboard-js/css/chessboard.min.css">
        <script src="third-party/chessboard-js/js/chessboard.min.js"></script>
        <script src="third-party/chess.js/chess.min.js"></script>

        <script src="third-party/ztd.blunders-misc/js/utils.js"></script>
        <script src="third-party/ztd.blunders-misc/js/sync.js"></script>
        <script src="js/settings.js"></script>
        <script src="js/board.js"></script>
    </head>
    <body ng-app="Ztd.Blunders Mobile" ng-controller="MainCtrl">
        <div class="bar bar-header bar-positive blue-background">
            <button ng-click="toggleMenu()" class="button button-icon icon ion-navicon"> Ztd.Blunders</button>
            <div class="title header-title">
            </div>
            
            <button style="display: none;" id="loading-indicator" class="button button-icon icon ion-load-c ion-spin-animation"></button>
            <button id="user-elo" class="button button-icon icon ion-university">-</button>
        </div>

        <ion-side-menus>
            <ion-side-menu side="left">
                <ion-content class="has-header blue-background padding">
                    <button ng-show="isTokenExist()" ng-click="logout()" class="button button-assertive button-full icon-right ion-log-out">
                        Logout
                    </button>
                </ion-content>
            </ion-side-menu>

            <ion-side-menu-content>
                <ion-nav-view></ion-nav-view>
            </ion-side-menu-content>
        </ion-side-menus>

        <script id="login.html" type="text/ng-template"> 
            <ion-view class="blue-background">
                <ion-content class="has-header">
                    <ion-slide-box show-pager="false">
                        <ion-slide>
                            <div class="list list-inset blue-background">
                                <div class="padding">
                                    <label class="fixed-label item item-input">
                                        <input ng-model="loginUsername" type="text" placeholder="Your username">
                                    </label>
                                </div>
                                <div class="padding">
                                    <label class="fixed-label item item-input">
                                        <input ng-model="loginPassword" type="password" placeholder="Your password">
                                    </label>
                                </div>
                            </div>
                            <div class="padding">
                                <button id="login-button" ng-click="login(loginUsername, loginPassword)" class="button button-balanced button-wide icon-right ion-log-in">
                                    Login
                                </button>
                            </div>

                            <div class="padding">
                                <div class="padding-bottom new-user-greeting">
                                    Do not have accout yet?
                                </div>

                                <button ng-click="goToSignup()" class="button button-outline button-wide button-light icon-right ion-ios-arrow-right">
                                    Sign Up!
                                </button>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="list list-inset blue-background">
                                <div class="padding">
                                    <label class="fixed-label item item-input">
                                        <input ng-model="signupUsername" type="text" placeholder="Pick a username">
                                    </label>
                                </div>
                                <div class="padding">
                                    <label class="fixed-label item item-input">
                                        <input ng-model="signupPassword" type="password" placeholder="Create a password">
                                    </label>
                                </div>
                                <div class="padding">
                                    <label class="fixed-label item item-input">
                                        <input ng-model="signupEmail" type="email" placeholder="Optional email">
                                    </label>
                                </div>
                            </div>
                            <div class="padding">
                                <button id="signup-button" ng-click="signup(signupUsername, signupPassword, signupEmail)" class="button button-balanced button-wide icon-right ion-person-add">
                                    Sign Up!
                                </button>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </ion-content>
            </ion-view>
        </script>

        <script id="training.html" type="text/ng-template">
            <ion-view class="white-background">
                <ion-content>
                    <ion-slide-box show-pager="false" class="has-header">
                        <ion-slide>
                            <div class="card">
                                <div class="item item-divider">
                                    <div class="padding">
                                        {{player(info, 'white')}} - {{player(info, 'black')}}
                                    </div>
                                </div>
                                <div class="item item-text-wrap">
                                    <div id="board"></div>
                                </div>
                                <div class="game-status-container item item-divider">
                                    <button ng-click="status.onClick()" class="{{status.viewClass}} game-status button button-full">
                                        {{status.viewText}}
                                    </button>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="card">
                                <div class="item item-divider">
                                    <div class="row">
                                      <div class="col">
                                        <button ng-click="dislike(blunder_id)" class="button button-icon icon ion-thumbsdown"></button>
                                      </div>
                                      <div class="col">
                                        <button ng-click="favorite(blunder_id)" class="button button-icon icon ion-ios-heart-outline"></button>
                                      </div>
                                      <div class="col">
                                        <button ng-click="like(blunder_id)" class="button button-icon icon ion-thumbsup"></button>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="item item-divider">
                                    Blunder
                                </div>
                                <div class="item item-wrap">
                                    <div class="row">
                                      <div class="col">
                                        <div class="cell-header">Rating</div>
                                        <div class="cell-value">{{info.elo}}</div>
                                        <div class="cell-footer">Elo</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Rating</div>
                                        <div class="cell-value">{{info.likes - info.dislikes}}</div>
                                        <div class="cell-footer">votes</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Favorite for</div>
                                        <div class="cell-value">{{info.favorites}}</div>
                                        <div class="cell-footer">users</div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <div class="cell-header">Success</div>
                                        <div class="cell-value">{{info.successTries}}</div>
                                        <div class="cell-footer">played</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Total</div>
                                        <div class="cell-value">{{info.totalTries}}</div>
                                        <div class="cell-footer">played</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Success rate</div>
                                        <div class="cell-value">{{successRate(info)}}</div>
                                        <div class="cell-footer">percents</div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="item item-divider">
                                    Game
                                </div>
                                <div class="item item-wrap">
                                    <div class="row">
                                      <div class="col">
                                        <div class="cell-header">White</div>
                                        <div class="cell-value">{{player(info, 'white')}}</div>
                                        <div class="cell-footer">player</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Black</div>
                                        <div class="cell-value">{{player(info, 'black')}}</div>
                                        <div class="cell-footer">player</div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <div class="cell-header">White</div>
                                        <div class="cell-value">{{elo(info, 'white')}}</div>
                                        <div class="cell-footer">Elo</div>
                                      </div>
                                      <div class="col">
                                        <div class="cell-header">Black</div>
                                        <div class="cell-value">{{elo(info, 'black')}}</div>
                                        <div class="cell-footer">Elo</div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </ion-content>
            </ion-view>
        </script>
    </body>
</html>
