html, body {
    margin: 0px;
    padding: 0px;
}

header {
    font-size: 1.2em;

    padding: 0 0.8em;
    width: inherit;
    line-height: 70px;
    margin-bottom: 2px;

    color: #dedede;
    background-color: #0f6bb4;
    white-space: nowrap;
}

header > i.fa-bars {
    margin-right: 1.5em;
}

header > #user-rating {
    float: right;
}

div.title {
    display: inline;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
