/* =========================== training part =========================== */

header {
    border-bottom: 1px solid #0f4b94;
    margin-bottom: 0;
}

.menu-page-hand-setted-class {
    height: calc(100vh - 70px);
    background-color: #0f6bb4;

    width: 70%;
    margin-right: 30%;

    border-right: 1px solid #0f4b94;
    
    box-shadow: 5px 5px 100px 0px #333;
}

#menu-page {
    height: 100%;
    text-align: center;
}

#logout-button {
    display: inline-block;

    padding: 0.5em 2.2em;

    margin: 0.9em 0;
    margin-top: 5em;

    border: 1px solid;
    border-radius: 3px;

    color: #eee;
    font-size: 1.1em;

    background-color: rgb(37,172,77);
    border-color: rgb(57,172,37);

    cursor: pointer;
}

#logout-button:hover {
    background-color: #eee;
    border-color: #efefef;

    color: rgb(37,172,77);
}

#game-header {
    text-align: center;
    padding: 0.8em 1.2em;
    color: #333;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#favorite-button {
    font-size: 1.7em;
    margin-right: 0.15em;
    cursor: pointer;

    vertical-align: middle;
}

.favorite-active {
    color: #e3cf7a !important;
}

.like-active {
    color: #1fa67a !important;
}

.dislike-active {
    color: rgb(217, 83, 79) !important;
}

#game-status-container {
    margin-top: 0.6em;
    padding: 0 1em;

    width: 100%;
}

#game-status {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;

    padding-top: 9px;
    padding-bottom: 9px;

    padding-left: 30px;
    padding-right: 30px;

    text-align: center;

    margin-left: 1.5em;
    margin-right: 1.5em;

    color: #fff;

    border-color: #0f4ba4;
    background-color: #0f6bb4;
}

.failed-status {
    color: #ffffff !important;

    border-color: rgb(212, 63, 58) !important;
    background-color: rgb(217, 83, 79) !important;
}

.success-status {
    color: #ffffff !important;

    border-color: #1b926c !important;
    background-color: #1fa67a !important;
}

.black-to-move-status {
    color: #fff !important;

    border-color: #555 !important;
    background-color: #444 !important;
}

.white-to-move-status {
    color: #333 !important;

    border-color: #ddd !important;
    background-color: #f0f0f0 !important;
}

div.chess_board div.chess_square_light.ai-move-hightlight {
    background-color: #dfdba4 !important;
}

div.chess_board div.chess_square_dark.ai-move-hightlight {
    background-color: #cfcb94 !important;
}

div.chess_board div.chess_square_light.player-move-hightlight {
    background-color: #dfdba4 !important;
}

div.chess_board div.chess_square_dark.player-move-hightlight {
    background-color: #bfbba4 !important;
}

.fail-move-hightlight {
    box-shadow: 0 0 100em 100em rgba(238,51,51,0.7) inset !important;
}

div.chess_board div.chess_square_light.success-move-hightlight {
    background-color: #2fb68a !important;
}

div.chess_board div.chess_square_dark.success-move-hightlight {
    background-color: #1fa67a !important;
}

.social-button-container {
    text-align: center;
    font-size: 1.6em; 
    color: #333;
}

#control-buttons {
    text-align: right;
}

#dislike-button, #like-button {
    color: #555;
    cursor: pointer;
}

#info-page {
    margin: 0.5em;
}

/* =========================== board part =========================== */

#board-container {
    width: 100%;
    text-align: center;
}

#board {
    border: 3px solid #0f6bb4;
    width: calc(100% - 6px - 0.7em);
}

/* square colors */
div.chess_board div.chess_square_light {
    background-color: #afcbe4;
}

div.chess_board div.chess_square_dark {
    background-color: #0f6bb4;
}

div.chess_board div.chess_square_valid_move {
    box-shadow: 0 0 100em 100em rgba(10,235,50,0.2) inset !important;
}

div.chess_board div.chess_square_light.chess_square_selected {
    background-color: #afcbe4;
}

div.chess_board div.chess_square_dark.chess_square_selected {
    background-color: #0f6bb4;
}

/* labels for white squares */
div.chess_board div.chess_square_light div.chess_label_column,
div.chess_board div.chess_square_light div.chess_label_row {
    color: #0f6bb4;
    opacity: 0.6;
}

/* labels for black squares */
div.chess_board div.chess_square_dark div.chess_label_column,
div.chess_board div.chess_square_dark div.chess_label_row {
    color: #8fbbd4;
    opacity: 0.6;
}

/* white pieces */
div.chess_board div.chess_player_white.chess_piece_pawn:after {
    content: '';
}

div.chess_board div.chess_player_white.chess_piece_pawn {
    background-image: url('../img/wP.svg');
}

div.chess_board div.chess_player_white.chess_piece_knight:after {
    content: '';
}

div.chess_board div.chess_player_white.chess_piece_knight {
    background-image: url('../img/wN.svg');
}

div.chess_board div.chess_player_white.chess_piece_bishop:after {
    content: '';
}

div.chess_board div.chess_player_white.chess_piece_bishop {
    background-image: url('../img/wB.svg');
}

div.chess_board div.chess_player_white.chess_piece_rook:after {
    content: '';
}

div.chess_board div.chess_player_white.chess_piece_rook {
    background-image: url('../img/wR.svg');
}

div.chess_board div.chess_player_white.chess_piece_queen:after {
    content: '';
}

div.chess_board div.chess_player_white.chess_piece_queen {
    background-image: url('../img/wQ.svg');
}

div.chess_board div.chess_player_white.chess_piece_king:after {
    content: '';
}

div.chess_board div.chess_player_white.chess_piece_king {
    background-image: url('../img/wK.svg');
}

/* black pieces */
div.chess_board div.chess_player_black.chess_piece_pawn:after {
    content: '';
}

div.chess_board div.chess_player_black.chess_piece_pawn {
    background-image: url('../img/bP.svg');
}

div.chess_board div.chess_player_black.chess_piece_knight:after {
    content: '';
}

div.chess_board div.chess_player_black.chess_piece_knight {
    background-image: url('../img/bN.svg');
}

div.chess_board div.chess_player_black.chess_piece_bishop:after {
    content: '';
}

div.chess_board div.chess_player_black.chess_piece_bishop {
    background-image: url('../img/bB.svg');
}

div.chess_board div.chess_player_black.chess_piece_rook:after {
    content: '';
}

div.chess_board div.chess_player_black.chess_piece_rook {
    background-image: url('../img/bR.svg');
}

div.chess_board div.chess_player_black.chess_piece_queen:after {
    content: '';
}

div.chess_board div.chess_player_black.chess_piece_queen {
    background-image: url('../img/bQ.svg');
}

div.chess_board div.chess_player_black.chess_piece_king:after {
    content: '';
}

div.chess_board div.chess_player_black.chess_piece_king {
    background-image: url('../img/bK.svg');
}
